<div class="jumbotron">
    <h1>
      Sudoku Solver
    </h1>
</div>

<div class="container">
  <div class="centered text-center">
      <h1>File Upload</h1>

      <br>

      <input 
          style="display: none"
          type="file" 
          (change)="onFileSelected($event)"
          #fileInput>
      <button type="button" class="btn btn-primary btn-lg" (click)="fileInput.click()">
          <i class="fa fa-file"></i>
          Choose File
      </button>
      <br>
      <br>
      <div class="alert alert-success" role="alert" *ngIf="selectedFile">
          <strong>Info!</strong> Your selected file: {{ selectedFile.name }}
      </div>
      <br>
      <button type="button" class="btn btn-success btn-lg" (click)="onUpload()">
        <i class="fa fa-upload"></i>
        Upload
      </button>

      <br>

      
  </div>
</div>

<br>

<div class="container">
  <div class="alert alert-danger" *ngIf="errorRequest">
    <strong>Error! </strong>Sorry, our server is down...
  </div>
</div>

<div class="container">
    <div class="alert alert-warning" *ngIf="response">
      <strong>Info! </strong>{{response.message}}...
    </div>
</div>

<div class="container" *ngIf="response">
    <table>
        <tr>
          <td> {{response[0][0]}} </td>
          <td> {{response[0][1]}} </td>
          <td> {{response[0][2]}} </td>
          <td> {{response[0][3]}} </td>
          <td> {{response[0][4]}} </td>
          <td> {{response[0][5]}} </td>
          <td> {{response[0][6]}} </td>
          <td> {{response[0][7]}} </td>
          <td> {{response[0][8]}} </td>
        </tr>
        <tr>
          <td> {{response[1][0]}} </td>
          <td> {{response[1][1]}} </td>
          <td> {{response[1][2]}} </td>
          <td> {{response[1][3]}} </td>
          <td> {{response[1][4]}} </td>
          <td> {{response[1][5]}} </td>
          <td> {{response[1][6]}} </td>
          <td> {{response[1][7]}} </td>
          <td> {{response[1][8]}} </td>
        </tr>
        <tr>
          <td> {{response[2][0]}} </td>
          <td> {{response[2][1]}} </td>
          <td> {{response[2][2]}} </td>
          <td> {{response[2][3]}} </td>
          <td> {{response[2][4]}} </td>
          <td> {{response[2][5]}} </td>
          <td> {{response[2][6]}} </td>
          <td> {{response[2][7]}} </td>
          <td> {{response[2][8]}} </td>
        </tr>
        <tr>
          <td> {{response[3][0]}} </td>
          <td> {{response[3][1]}} </td>
          <td> {{response[3][2]}} </td>
          <td> {{response[3][3]}} </td>
          <td> {{response[3][4]}} </td>
          <td> {{response[3][5]}} </td>
          <td> {{response[3][6]}} </td>
          <td> {{response[3][7]}} </td>
          <td> {{response[3][8]}} </td>
        </tr>
        <tr>
          <td> {{response[4][0]}} </td>
          <td> {{response[4][1]}} </td>
          <td> {{response[4][2]}} </td>
          <td> {{response[4][3]}} </td>
          <td> {{response[4][4]}} </td>
          <td> {{response[4][5]}} </td>
          <td> {{response[4][6]}} </td>
          <td> {{response[4][7]}} </td>
          <td> {{response[4][8]}} </td>
        </tr>
        <tr>
          <td> {{response[5][0]}} </td>
          <td> {{response[5][1]}} </td>
          <td> {{response[5][2]}} </td>
          <td> {{response[5][3]}} </td>
          <td> {{response[5][4]}} </td>
          <td> {{response[5][5]}} </td>
          <td> {{response[5][6]}} </td>
          <td> {{response[5][7]}} </td>
          <td> {{response[5][8]}} </td>
        </tr>
        <tr>
          <td> {{response[6][0]}} </td>
          <td> {{response[6][1]}} </td>
          <td> {{response[6][2]}} </td>
          <td> {{response[6][3]}} </td>
          <td> {{response[6][4]}} </td>
          <td> {{response[6][5]}} </td>
          <td> {{response[6][6]}} </td>
          <td> {{response[6][7]}} </td>
          <td> {{response[6][8]}} </td>
        </tr>
        <tr>
          <td> {{response[7][0]}} </td>
          <td> {{response[7][1]}} </td>
          <td> {{response[7][2]}} </td>
          <td> {{response[7][3]}} </td>
          <td> {{response[7][4]}} </td>
          <td> {{response[7][5]}} </td>
          <td> {{response[7][6]}} </td>
          <td> {{response[7][7]}} </td>
          <td> {{response[7][8]}} </td>
        </tr>
        <tr>
          <td> {{response[8][0]}} </td>
          <td> {{response[8][1]}} </td>
          <td> {{response[8][2]}} </td>
          <td> {{response[8][3]}} </td>
          <td> {{response[8][4]}} </td>
          <td> {{response[8][5]}} </td>
          <td> {{response[8][6]}} </td>
          <td> {{response[8][7]}} </td>
          <td> {{response[8][8]}} </td>
        </tr>
      </table>
  </div>




